.Book {
    background-color: rgb(246, 246, 246);
    min-height: 50vh;
}

.Book-container {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Book-nav {
    background-color: #fff;
    padding: 10px;
    position: relative;
    width: 100%;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.Book-nav>div {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Book-nav>nav {
    margin-bottom: 5px;
    color: #333;
}

.breadcrumb-item a {
    color: #777;
    margin-left: 6px;
}

.breadcrumb-item.active {
    color: #333;
    margin-left: 0;
    font-weight: 600;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #777;
}

.Back-btn {
    position: relative;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s, transform var(--e-transform-transition-duration, .4s);
}

.BackBook-btn,
.NextBook-btn,
.BackToShop,
.BackToShop button {
    box-shadow: none;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    color: #242424;
    background-color: transparent;
    transition: all .25s ease;
}

.BackBook-btn svg,
.NextBook-btn svg,
.BackToShop svg {
    opacity: 1 !important;
}

.BackBook-btn:hover svg,
.NextBook-btn:hover svg,
.BackToShop:hover svg {
    fill: #777;
}

.Tooltip {
    font-size: 16px;
    line-height: 2;
    font-weight: 500;
}


.BackBook-btn-hover,
.NextBook-btn-hover {
    display: flex;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    position: absolute;
    right: auto;
    left: 0;
    top: 100%;
    min-width: 240px;
    z-index: 100;
    margin-top: 15px;
    background-color: #fff;
    background-position: bottom left;
    background-clip: border-box;
    background-repeat: no-repeat;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.BackBook-btn-hover::after,
.NextBook-btn-hover::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 15px;
}

.BackBook-btn-hover-img,
.NextBook-btn-hover-img {
    max-width: 90px;
}

.BackBook-btn-hover-img>img,
.NextBook-btn-hover-img>img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: auto;
    max-width: 100%;
}

.BackBook-btn-hover-content,
.NextBook-btn-hover-content {
    padding: 10px 15px;
}

.BackBook-btn-hover-title,
.NextBook-btn-hover-title {
    margin-bottom: 5px;
    word-wrap: break-word;
    color: #333333;
    font-weight: 500;
    line-height: 1.4;
}

.BackBook-btn-hover-price,
.NextBook-btn-hover-price {
    color: rgb(28, 97, 231);
}

.BackBook-btn-hover-price>del,
.NextBook-btn-hover-price>del {
    color: #bbb;
}

.BackBook-btn-hover-price>ins,
.NextBook-btn-hover-price>ins {
    background-color: transparent;
    color: rgb(28, 97, 231);
    opacity: 1;
    text-decoration: none;
}

.BackBook-btn-hover-Pre-price,
.NextBook-btn-hover-Pre-price {
    font-size: inherit;
    color: #bbb;
    font-weight: 400;
}

.BackBook-btn-hover-New-price,
.NextBook-btn-hover-New-price {
    font-size: inherit;
    font-weight: 600;
    color: rgb(28, 97, 231);
}

.BackBook:hover .BackBook-btn-hover {
    visibility: visible;
    opacity: 1;
}

.NextBook:hover .NextBook-btn-hover {
    visibility: visible;
    opacity: 1;
}

/* ////////////////////////////////////////////// */


.Book-information {
    background-color: #fff;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.Book-information>div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.Book-information-image,
.Book-information-content {
    width: 50%;
}

.Book-information-image>div,
.Book-information-content>div {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
}

/* //////////swiper-start///////////// */

.mySwiper1 {
    width: 25% !important;
    height: 480px !important;
}

.mySwiper1 .swiper-slide {
    height: 145px !important;
    margin-bottom: 15px;
    opacity: 1;
    padding: 5px;
}

.mySwiper1 .swiper-slide-thumb-active {
    opacity: .5;
}

.mySwiper1 .swiper-slide>img {
    object-fit: cover;
    border-radius: 10px;
}

.mySwiper1 .swiper-wrapper {
    height: 320px;
    transform: translate3d(0px, 0px, 0px);
}

.swiper {
    width: 100%;
    height: auto;
    padding: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 480px;
    width: 75%;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.mySwiper2 .swiper-slide {
    padding: 10px 15px;
}

.mySwiper2 > .swiper-wrapper {
    height: auto;
}

.mySwiper2 .swiper-button-prev {
    color: #a5a5a5;
    visibility: hidden;
    opacity: 0;
    transform: translateX(30px);
    transition: all .25s ease;
}

.mySwiper2:hover .swiper-button-prev {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}

.mySwiper2 .swiper-button-next {
    color: #a5a5a5;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-30px);
    transition: all .25s ease;
}

.mySwiper2:hover .swiper-button-next {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}

.mySwiper2 .swiper-button-prev:after {
    font-size: 25px;
}

.mySwiper2 .swiper-button-next:after {
    font-size: 25px;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0 30px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount {
    position: absolute;
    top: 20px;
    left: 15px;
    right: auto;
    z-index: 10;
    max-width: 30%;
}

.discount span {
    min-width: 50px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    padding: 5px 10px;
    color: #fff;
    background-color: rgb(28,97,231);
    border-radius: 12px;
}

.magnification {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    padding: 30px 10px 15px 30px;
}

.magnification>a {
    min-width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: #fff;
    color: #666;
    box-shadow: 0 0 5px rgba(0,0,0,0.08);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.magnification>a:hover {
    color: #777;
}

.magnification svg:hover {
    fill: #777;
}

/* ////////////////////swiper-end////////////////// */

.Book-information-content>div {
    flex-direction: column;
    justify-content: flex-start;
}

.Type-Print ,
.Book-Name ,
.Book-Name-Persian ,
.Book-Code ,
.Book-Price-Number ,
.Book-Sell ,
.Line-Seperate {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.Type-Print span {
    font-weight: 600;
    color: #1c61e7;
}

.Book-Name>h1 {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0;
    color: #333333;
}

.Book-Code>div {
    padding: 10px;
}

.Book-Code span {
    font-weight: 600;
    color: #333;
}

.Book-Price-Number {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
}

.Book-Price>p {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 0;
    color: rgb(28,97,231);
}

.Book-Price del {
    color: #bbb;
    font-weight: 400;
    margin-left: 5px;
}

.Book-Price ins {
    font-weight: 600;
    color: rgb(28,97,231);
    text-decoration: none;
}

.Book-Number {
    margin-right: 20px;
}

.Book-Number>p {
    margin-bottom: 0px;
    font-weight: 600;
    line-height: 1.2;
}

.Book-Number span {
    border: 1px solid #85B951;
    color: #333;
    padding: 8px 12px;
    border-radius: calc(10px / 1.5);
    display: inline-block;
}

.Book-Number span::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #85B951;
    display: inline-block;
    margin-inline-end: 8px;
    vertical-align: baseline;
}

.Book-Sell>div {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Book-Sell-number {
    margin-left: 10px;
    white-space: nowrap;
    display: inline-flex;
    flex: 0 0 auto;
}

.Book-Sell-number>input {
    height: 42px !important;
}

.Book-Sell-btn {
    flex: 1 1 auto;
    color: #fff;
    background-color: rgb(28,97,231);
    border: 0;
    border-radius: 5px;
    box-shadow: none;
    padding: 5px 20px;
    min-height: 42px;
    font-size: 13px;
    line-height: 1.2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow .25s ease, opacity .25s ease;
}

.Line-Seperate>div {
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
}

.Line-Seperate span{
    border-top: 1px solid #0000001C;
    width: 100%;
    display: flex;
}

.Book-Option {
    margin: -10px 0 10px 0;
}

.Book-Option>div {
    display: flex;
    flex-wrap: wrap;
}

.Book-Option-col1 ,
.Book-Option-col2 {
    width: 50%;
    position: relative;
    display: flex;
}

.Book-Option-col1 {
    align-items: center;
}

.Book-Option-col1>div ,
.Book-Option-col2>div {
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.Book-Option-col2 {
    justify-content: flex-end;
}

.Book-Option-compair ,
.Book-Option-intrest {
    margin-bottom: 5px;
}

.Book-Option-compair {
    margin-left: 20px;
}

.Book-Option-compair a ,
.Book-Option-intrest a{
    position: relative;
    font-weight: 600;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.Book-Option-compair a:hover ,
.Book-Option-intrest a:hover {
    color: #777;
}

.Book-Option-compair svg ,
.Book-Option-intrest svg{
    margin-left: 4px;
}

.Book-Option-compair:hover svg ,
.Book-Option-intrest:hover svg{
    fill: #777;
}

.Book-Option-share {
    display: flex;
}

.Book-Option-share>span {
    color: #333;
    font-size: 15px;
    font-weight: 600;
    margin-left: 5px;
    line-height: 1.5;

}

.Book-Option-share>a {
    border-radius: 50%;
    padding: 6px;
    margin: 0;
    color: rgba(0,0,0,0.6) !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Book-Option-share>a:hover svg {
    fill: #242424;
}



/* ............................ */

.Null-space {
    position: relative;
    min-height: 1px;
    display: flex;
    width: 100%;
}

.Null-space>div {
    padding: 10px;
    position: relative;
    display: flex;
    width: 100%;
}

.Book-Specifications {
    margin-bottom: 20px;
    width: 100%;
}

.Book-Specifications>div {
    display: flex;
}

.Book-Description {
    width: 58%;
    display: flex;
}

.Book-Specifications-content {
    width: 42%;
    margin-bottom: 15px;
}

.Book-Description>div {
    background-color: #fff;
    margin: 0 10px;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    width: 100%;
}

.Book-Description h4 {
    margin-bottom: 10px;
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
    color: #242424;
}

.Book-Specifications-content>div {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Book-Specifications-title {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.Book-Specifications-title>h4 {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
    color: #242424;
}

.Book-Specifications-table {
    padding: 20px;
    width: 100%;
}

.Book-Specifications-table>table {
    margin-bottom: 0;
    width: 100%;
    line-height: 1.4;
}

.Book-Specifications-table-tbody {
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    column-gap: 30px;
}

.Book-Specifications-table-tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.Book-Specifications-table-tr>th {
    margin-left: 20px;
    font-size: inherit;
    font-weight: 500;
    color: #242424;
    padding: 0;
}

.Book-Specifications-table-tr>td {
    font-weight: 600;
    color: #242424;
    text-align: left;
    padding: 0;
}

.Book-Specifications-table-tr a {
    color: #242424;
}



.Order-adventages {
    margin: 50px 0;
    width: 100%;
}

.Order-adventages>div {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.adventages-item {
    padding: 10px;
    width: 25%;
}

.adventages-item>div {
    background-color: #fff;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.adventages-item-icon {
    margin-bottom: 20px;
    text-align: center;
}

.adventages-item-icon img {
    vertical-align: middle;
    display: inline-block;
    height: auto;
}

.adventages-item-title {
    text-align: center;
    width: 100%;
}

.adventages-item-title>div {
    color: #777;
    line-height: 1;
    margin-bottom: 3px;
}


.Book-Comments {
    width: 100%;
    margin-bottom: 70px;
}

.Book-Comments-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px 20px 0 20px;
    border-radius: 10px;
}

.Book-Comments-title {
    margin-bottom: 20px;
    width: 100%;
}

.Book-Comments-title>h4 {
    display: inline-block;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
    color: #242424;
}

.Book-Comments-body {
    width: 100%;
}

.Book-Comments-body>div {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px -25px -30px;
}

.Comment-Add {
    flex: 1 1 100%;
    margin: 0 30px 25px 30px;
}

.Comment-Add-row1 {
    font-size: 14px;
    font-weight: 500;
    line-height: inherit;
    display: block;
    color: #242424;
    margin-bottom: 20px;
}

.Comment-Add-form {
    display: flex;
    flex-wrap: wrap;
}

.Comment-Add-row2 {
    margin-bottom: 20px;
    width: 100%;
    flex: 1 1 max(400px, 50%);
    padding-left: 10px;
    padding-right: 10px;
}

.Required {
    font-size: 16px;
    line-height: 1;
    color: #E01020;
}

.Comment-Add-row3 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    width: 100%;
    line-height: 1;
}

.Comment-Add-row3>label {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 15px;
    color: #242424;
    font-weight: 400;
}

.Comment-Add-row3>label::after {
    content: ':';
    margin-inline-start: 2px;
}

.Comment-Add-row4 {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.Comment-Add-row4>label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #242424;
}

.Comment-Add-row4>textarea {
    overflow: auto;
    padding: 10px 15px;
    min-height: 190px;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: rgb(255,255,255);
    color: inherit;
    box-shadow: none;
    font-size: 14px;
    transition: border-color .5s ease;
}

.Comment-Add-row4>textarea:focus {
    border: 1px solid rgba(0,0,0,0.15) !important;
    outline: 0;
}

.Comment-Add-row5 {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    width: 50%;
}

.Comment-Add-row5>label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    color: #242424;
}

.Comment-Add-row5>input {
    padding: 0 15px;
    width: 100%;
    height: 42px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: rgb(255,255,255);
    color: inherit;
    box-shadow: none;
    font-size: 14px;
    transition: border-color .5s ease;
}

.Comment-Add-row5>input:focus {
    border: 1px solid rgba(0,0,0,0.15) !important;
    outline: 0;
}

.Comment-Add-row6 {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    width: 100%;
}

.Comment-Add-row6>input {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(28,97,231);
    box-shadow: none;
    padding: 5px 20px;
    min-height: 42px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: color .25s ease, background-color .25s ease, border-color .25s ease, box-shadow .25s ease, opacity .25s ease;
}

.Comment-List {
    margin-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.Comment-List-row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.Comment-List-row1-title {
    margin-left: 15px;
    margin-bottom: 5px;
}

.Comment-List-row1-title>h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: inherit;
    margin-bottom: 5px;
    color: #242424;
    display: block;
}

.Comment-List-row1-select {
    margin-bottom: 10px;
    max-width: 200px;
    width: auto;
    padding: 0 15px;
    height: 42px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: rgb(255,255,255);
    color: inherit;
    box-shadow: none;
    font-size: 14px;
    transition: border-color .5s ease;
}

.Comment-List-row1-select:focus {
    border: 1px solid rgba(0,0,0,0.15) !important;
    outline: 0;
}

.Comment-List-row2>p {
    margin-bottom: 20px;
}



.Related-products {
    padding: 10px;
    width: 100%;
}

.Related-products>div {
    margin-bottom: 70px;
}

.Related-products-title {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    color: #242424;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
    display: flex;
    align-items: center;
}

@media (max-width:991.98px) {
    .Book-nav>div {
        max-width: 100%;
        padding: 0;
    }

    .elementor-widget-container>nav {
        white-space: nowrap;
        flex-wrap: nowrap;
    }

    .Book-information .container {
        max-width: 100%;
    }
    
    .mySwiper1 {
        display: none;
    }

    .mySwiper2 {
        width: 100%;
    }

    .mySwiper2 .swiper-button-next ,
    .mySwiper2 .swiper-button-prev {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
    }

    .mySwiper2 .swiper-button-prev:after ,
    .mySwiper2 .swiper-button-next:after {
        font-size: 15px;
    }

    .magnification svg {
        width: 10px;
        height: 10px;
    }

    .Book-Name>h1 {
        font-size: 24px;
    }
    
    .Book-Price>p {
        font-size: 28px;
    }

    .Book-Option-col1, .Book-Option-col2 {
        width: 100%;
    }

    .Book-Option-col2 {
        justify-content: flex-start;
    }

    .Book-Specifications>div {
        max-width: 100%;
        flex-wrap: wrap;
    }

    .Book-Comments>div {
        max-width: 100%;
    }

    .Related-products>div {
        max-width: 100%;
    }

    .mySwiper {
        padding-bottom: 30px;
    }
}

@media (max-width:767.98px) {
    .Back-btn {
        display: none;
    }

    .Book-information-image, .Book-information-content {
        width: 100%;
    }

    .mySwiper2 {
        height: 720px;
    }

    .Book-Name>h1 {
        font-size: 22px;
    }
    
    .Book-Price>p {
        font-size: 22px;
    }

    .Book-Option-col1, .Book-Option-col2 {
        width: 100%;
    }

    .Book-Option-col2 {
        justify-content: flex-start;
    }

    .Book-Description {
        order: 10;
        width: 100%;
    }

    .Book-Specifications-content {
        order: 9;
        width: 100%;
    }

    .adventages-item {
        width: 50%;
    }

    .Comment-Add-row5 {
        width: 100%;
    }

    .Related-products-title {
        font-size: 20px;
    }
}

@media (max-width:566.98px) {
    .mySwiper2 {
        height: 400px;
    }
}